html {
  --cur-default:
    url("/cursors/default.png") 1x, url("/cursors/default@2x.png") 2x;
  --cur-pointer:
    url("/cursors/pointer.png") 1x, url("/cursors/pointer@2x.png") 2x;
  --cur-pointer-active:
    url("/cursors/pointer-active.png") 1x,
    url("/cursors/pointer-active@2x.png") 2x;
  --cur-match: url("/cursors/match.png") 1x, url("/cursors/match@2x.png") 2x;
  --cur-text:
    url("/cursors/text-select.png") 1x, url("/cursors/text-select@2x.png") 2x;
  --cur-not-allowed:
    url("/cursors/not-allowed.png") 1x, url("/cursors/not-allowed@2x.png") 2x;
  --cur-wait: url("/cursors/wait.png") 1x, url("/cursors/wait@2x.png") 2x;
  --cur-help: url("/cursors/help.png") 1x, url("/cursors/help@2x.png") 2x;
  --cur-crosshair:
    url("/cursors/precision-select.png") 1x,
    url("/cursors/precision-select@2x.png") 2x;
  --cur-move: url("/cursors/move.png") 1x, url("/cursors/move@2x.png") 2x;
  --cur-ew-resize:
    url("/cursors/horizontal-resize.png") 1x,
    url("/cursors/horizontal-resize@2x.png") 2x;
  --cur-ns-resize:
    url("/cursors/vertical-resize.png") 1x,
    url("/cursors/vertical-resize@2x.png") 2x;
  --cur-col-resize:
    url("/cursors/column-resize.png") 1x,
    url("/cursors/column-resize@2x.png") 2x;
  --cur-row-resize:
    url("/cursors/row-resize.png") 1x, url("/cursors/row-resize@2x.png") 2x;
  --cur-nwse-resize:
    url("/cursors/diagonal-resize-1.png") 1x,
    url("/cursors/diagonal-resize-1@2x.png") 2x;
  --cur-nesw-resize:
    url("/cursors/diagonal-resize-2.png") 1x,
    url("/cursors/diagonal-resize-2@2x.png") 2x;

  cursor:
    -webkit-image-set(var(--cur-default)) 5 5,
    auto;
  cursor:
    image-set(var(--cur-default)) 5 5,
    auto;
}

a[href],
button,
summary,
label,
select,
input:is(
  [type="button"],
  [type="checkbox"],
  [type="color"],
  [type="file"],
  [type="radio"],
  [type="range"],
  [type="reset"],
  [type="submit"]
),
[role="button"],
[role="checkbox"],
[role="link"],
[role="menuitem"],
[role="option"],
[role="radio"],
[role="slider"],
[role="switch"],
[role="tab"],
[onclick] {
  cursor:
    -webkit-image-set(var(--cur-pointer)) 13 3,
    pointer;
  cursor:
    image-set(var(--cur-pointer)) 13 3,
    pointer;

  &:active,
  &[data-cursor-pressed] {
    cursor:
      -webkit-image-set(var(--cur-pointer-active)) 13 3,
      pointer;
    cursor:
      image-set(var(--cur-pointer-active)) 13 3,
      pointer;
  }
}

input:is(
  :not([type]),
  [type="date"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="time"],
  [type="url"],
  [type="week"]
),
textarea,
[contenteditable="true"] {
  cursor:
    -webkit-image-set(var(--cur-text)) 16 16,
    text;
  cursor:
    image-set(var(--cur-text)) 16 16,
    text;
}

:disabled,
[aria-disabled="true"] {
  cursor:
    -webkit-image-set(var(--cur-not-allowed)) 16 16,
    not-allowed;
  cursor:
    image-set(var(--cur-not-allowed)) 16 16,
    not-allowed;
}

[aria-busy="true"] {
  cursor:
    -webkit-image-set(var(--cur-wait)) 16 16,
    wait;
  cursor:
    image-set(var(--cur-wait)) 16 16,
    wait;
}
